fastapi==0.139.2
groq==1.5.0
langchain_core==1.4.9
langchain_google_genai==4.2.7
langgraph==1.2.9
pandas==3.0.3
python-dotenv==1.2.2
Requests==2.34.2
SQLAlchemy==2.0.51
uvicorn==0.51.0
psycopg2-binary==2.9.11